[default]
src = 'src'
out = 'out'
libs = ['lib']
remappings = ["@uniswap/=lib/", "@openzeppelin/=lib/openzeppelin-contracts"]


# See more config options https://github.com/foundry-rs/foundry/tree/master/config